<div class="p-4">
  <h1>Alunos</h1>

  <table class="mt-4 table table-striped">
    <thead>
      <tr>
        <th>RA</th>
        <th>Nome</th>
        <th>Entrega</th>
        <th>Data Envio</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i< listaAlunos.length; i ++) { %>
      <tr>
        <td><%= listaAlunos[i].aluno_RA %></td>
        <td><%= listaAlunos[i].aluno_nome %></td>
        <td><%= listaAlunos[i].conteudo %></td>
        <td>
          <input type="text" value="<%= listaAlunos[i].nota %>" />
        </td>
        <td><%= listaAlunos[i].data_entrega %></td>
        <td>
          <input type="button" value="Salvar" />
        </td>
      </tr>
      <%} %>
    </tbody>
  </table>
</div>
