<div class="p-4">
  <h3><%= listaDisciplinas[0].disciplina_nome %></h3>
  <p>Turma: <%= listaSeries[listaDisciplinas[0].serie_id -1].serie_nome %></p>
  <p>
    Alunos : <%= listaSeries[listaDisciplinas[0].serie_id -1].serie_quantMAX %>
  </p>

  <hr />
  <div class="flex">
    <a
       href="/seeds/professor/disciplina/<%= listaDisciplinas[0].disciplina_id %>/<%= listaSeries[listaDisciplinas[0].serie_id - 1].serie_id %>/novaAtividade"
      class="btn btn-primary"
      >Cadastrar Nova atividade</a
    >
    <a href="#" class="btn btn-info">Registrar Presença</a>
  </div>
  <hr />
  <table class="mt-4 table table-striped table-hover">
    <thead>
      <tr>
        <th>Atividade</th>
        <th>Peso</th>
        <th>Prazo</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < listaAtividades.length; i ++) { %>
      <tr style="cursor: pointer">
        <td><%= listaAtividades[i].atividadeProf_tituloProf %></td>
        <td>0 - <%= listaAtividades[i].atividadeProf_notaProf %></td>
        <td
          style="color: <%= new Date(listaAtividades[i].atividadeProf_prazoProf) < new Date() ? 'red' : 'green' %>; font-style: italic;"
        >
          Encerra em: <%= new Date(listaAtividades[i].atividadeProf_prazoProf).toLocaleDateString('pt-br') %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
